body{
  padding-top: 70px;
}

h1, h2, h3{
  font-family: 'Lobster', cursive;
}

p, a{
  font-family: 'Roboto Condensed', sans-serif;
}

.progressText{
  color: #fff;
}

#copyright h3 p{
  display: inline-block;
}
